@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body{
    min-height: 100vh;
    background-color:  hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    display: flex;    
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
    min-width: 375px;
    /* max-width: 1440px; */

}

main{
    background-color: white;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    /* width: 30rem; */
    
}

p{
    font-size: 18px;
    color:  hsl(220, 15%, 55%);
    text-align: center;
}    

h1{
    text-align: center;
    color:  hsl(218, 44%, 22%);
}
.codigo_qr {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

img {
    border-radius: 15px;
    width: 28rem;
}